<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="RPGgameConnectionString" connectionString="Data Source=pdfserver.database.windows.net;Initial Catalog=RPGgame;User ID=.pdf;Password=info12C98"
            providerName="System.Data.SqlClient" />
        <add name="RPGgameConnectionString2" connectionString="Data Source=pdfserver.database.windows.net;Initial Catalog=RPGgame;Persist Security Info=True;User ID=.pdf;Password=info12C98"
            providerName="System.Data.SqlClient" />
        <add name="RPGgameConnectionString3" connectionString="Data Source=pdfserver.database.windows.net;Initial Catalog=RPGgame;User ID=.pdf;Password=info12C98"
            providerName="System.Data.SqlClient" />
        <add name="RPGgameConnectionString4" connectionString="Data Source=pdfserver.database.windows.net;Initial Catalog=RPGgame;Persist Security Info=True;User ID=.pdf;Password=info12C98"
            providerName="System.Data.SqlClient" />
        <add name="RPGgameConnectionString5" connectionString="Data Source=pdfserver.database.windows.net;Initial Catalog=RPGgame;User ID=.pdf;Password=info12C98"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
